body {
    font-family: 'Roboto', sans-serif;
    background-color: #0b0f1a; /*black/dark navy */
    color: #d0e7ff; /* light blue text */
    font-size: 16px;
}

img {
    max-width: 180px;
    height: auto;
    border-radius: 12px;
    border: 3px solid #1f2b73; /* dark blue border */
    display: block;
    margin: 10px auto;
}

.bio-box {
    background-color: #111a2e; 
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #1f3b73; 
    margin: 15px 0 25px 0;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    color: #66b3ff; 
    text-align: center;
    font-size: 46px;
    letter-spacing: 3px;
    margin-bottom: 30px;

    animation: neonPulse 2.5s infinite ease-in-out;
}

h2 {
    color: #4da6ff; 
    border-bottom: 2px solid #4da6ff;
    padding-bottom: 5px;
    margin-bottom: 30px;
    margin-top: 35px;
}

.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.list-group {
    margin-top: 15px;
    margin-bottom: 25px;
}

.btn {
    margin-right: 10px;
    margin-bottom: 15px;
}
.btn-primary {
    background-color: #4da6ff; 
    border: none; 
}
.btn-outline-info { 
    border-color: #a855f7; 
    color: #a855f7;
}
.btn-outline-info:hover {
    background-color: #a855f7; 
    color: white; 
}

.info-card {
    background-color: #0b0f1a; 
    border: 2px solid #1f3b73; 
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;

    /*neo glow effect*/
    box-shadow: 0 0 10px #4da6ff,
                0 0 20px #6a5cff;
    transition: 0.3s ease;
}

.info-card:hover {
    box-shadow: 0 0 15px #4da6ff,
                0 0 25px #a855f7,
                0 0 35px #ff4fd8;
    transform: translateY(-3px);
}
.container {
    max-width: 1000px;
}

@keyframes neonPulse {
    0% {
        text-shadow: 0 0 5px #4da6ff, 
                     0 0 10px #4da6ff,
                     0 0 20px #6a5cff;
    }
    50% {
        text-shadow: 0 0 10px #4da6ff, 
                     0 0 20px #a855f7,
                     0 0 30px #ff4fd8;
    }
    100% {
        text-shadow: 0 0 5px #4da6ff,
                     0 0 10px #4da6ff,
                     0 0 20px #6a5cff;
    }
}